body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Ceha ti ovo ces riktat :D :D*/
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
ul li{
    margin: 0 5px;
}